.landing-img-lg {
  width: 60%;
  height: 50vh;
  border-radius: 41px;
  object-fit: cover;
}

.landing-img-md {
  width: 100%;
  height: 40vh;
  border-radius: 20px;
  object-fit: cover;
}

.landing-icon-md {
  width: 100%;
  height: 40vh;
  border-radius: 20px;
  object-fit: contain;
}

@media screen and (max-width: 1000px) {
  .text-large {
    font-size: 2.8em !important;
  }

  .text-mid {
    font-size: 1.8em !important;
  }

  .text-normal {
    font-size: 1em !important;
  }

  .landing-img-lg {
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  body {
    margin: 0 15px !important;
    padding: 15px !important;
  }

  .text-large {
    font-size: 2em !important;
  }

  .text-mid {
    font-size: 1.6em !important;
  }

  .text-normal {
    font-size: 0.9em !important;
  }

  .landing-img-lg {
    width: 90%;
    height: 30vh;
  }
}
